.adg-calendar {
  .container {
    width: 100%;

    .calendar-header {
      width: 100%;
    }

    .calendar-body {
      .days {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}