.calendar-month {
  height: 140px;
  display: flex;
  justify-content: center;

  > * {
    align-self: center;
  }

  .month-title-container {
    overflow: hidden;

    #month-title {
      color: #101b3a;
      font-family: 'Estrangelo Edessa', 'cursive';
      font-size: 60px;
      width: 27%;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;


      .slide-out-left, .slide-out-right {
        animation-duration: 1s;
        animation-iteration-count: 1;
      }

      .slide-out-left {
        animation-name: slide-out-left;
      }

      .slide-out-right {
        animation-name: slide-out-right;
      }

      @keyframes slide-out-right {
        from {
          margin-left: 0;
        }
        to {
          margin-left: 100%;
        }
      }

      @keyframes slide-out-left {
        from {
          margin-right: 0;
        }
        to {
          margin-right: 100%;
        }
      }
    }
  }

  .left-arrow, .right-arrow {
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 0 20px;
  }

  .left-arrow {
    text-shadow: -11px 1px 2px #AAA;

    &:after {
      content: '<';
    }
  }

  .right-arrow {
    text-shadow: 11px 1px 2px #AAA;

    &:after {
      content: '>';
    }
  }
}